<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="Author : ${Authors}">
        <td th:text="${Author.id}">123</td>
        <td th:text="${Author.firstName}">Tom</td>
        <td th:text="${Author.lastName}">Hardy</td>
    </tr>
</table>
</body>
</html>